Collected from:
- https://syntaksis.dk/forkortelser/
- http://www.ebn.dk/forkortelser/

Noter omkring forkortelser:
-

In [23]:
import pandas as pd
import os

In [31]:
lines = open("forkortelser.csv").readlines()
lines[:10]

['row0\trow1\n',
 'a c. (ac.)\ta conto (aconto)\n',
 'adr.\tadresse\n',
 'afs.\tafsender\n',
 'alm.\talmindelig/almindeligt\n',
 'alt.\talternativ/alternativt\n',
 'a.m.b.a.\tandelsselskab med begrænset ansvar\n',
 'ang.\tangående\n',
 'ApS\tanpartsselskab\n',
 'a/s (A/S)\taktieselskab\n']

In [32]:
df = pd.read_csv("forkortelser.csv", sep="\t")
df.head(20)

          row0                                row1
0   a c. (ac.)                    a conto (aconto)
1         adr.                             adresse
2         afs.                            afsender
3         alm.              almindelig/almindeligt
4         alt.              alternativ/alternativt
5     a.m.b.a.  andelsselskab med begrænset ansvar
6         ang.                            angående
7          ApS                      anpartsselskab
8    a/s (A/S)                        aktieselskab
9         att.                     attention (til)
10        aut.                         autoriseret
11     av (AV)                         audiovisuel
12       – B –                                 NaN
13         bcc     blind carbon copy (skjult kopi)
14        bet.                              betalt
15     bh (BH)                         brystholder
16       bl.a.                        blandt andet
17        bto.                              brutto
18       – C –                                 NaN
19         ca.                               cirka

In [27]:
df = df.dropna()
df

                         row0    row1
a c. (ac.)           a conto (aconto)
adr.                          adresse
afs.                         afsender
alm.           almindelig/almindeligt
alt.           alternativ/alternativt
...                               ...
vsa.                     ved siden af
vær-                          værelse
Ø.          Øster/Østre (i stednavne)
årh.                       arhundrede
årl.                     årlig/årligt

[193 rows x 1 columns]

In [28]:
for index, row in df.iterrows():
    # Iterate over each element in the row
    for column, value in row.iteritems():
        print(f"Column: {column}, Value: {value}")

Column: row0    row1, Value: a conto (aconto)
Column: row0    row1, Value: adresse
Column: row0    row1, Value: afsender
Column: row0    row1, Value: almindelig/almindeligt
Column: row0    row1, Value: alternativ/alternativt
Column: row0    row1, Value: andelsselskab med begrænset ansvar
Column: row0    row1, Value: angående
Column: row0    row1, Value: anpartsselskab
Column: row0    row1, Value: aktieselskab
Column: row0    row1, Value: attention (til)
Column: row0    row1, Value: autoriseret
Column: row0    row1, Value: audiovisuel
Column: row0    row1, Value: blind carbon copy (skjult kopi)
Column: row0    row1, Value: betalt
Column: row0    row1, Value: brystholder
Column: row0    row1, Value: blandt andet
Column: row0    row1, Value: brutto
Column: row0    row1, Value: cirka
Column: row0    row1, Value: carbon copy (kopi)
Column: row0    row1, Value: compactdisk
Column: row0    row1, Value: confer (jævnfør)
Column: row0    row1, Value: centimeter
Column: row0    row1, Value: kompagni
Column: row0    row1, Value: care of (boende hos)
Column: row0    row1, Value: curriculum vitæ
Column: row0    row1, Value: den
Column: row0    row1, Value: dags dato
Column: row0    row1, Value: direkte/direktorat/direktør/dirigent
Column: row0    row1, Value: diverse/division
Column: row0    row1, Value: diskjockey
Column: row0    row1, Value: danske kroner
Column: row0    row1, Value: denne måned
Column: row0    row1, Value: deoxyribonukleinsyre
Column: row0    row1, Value: ditto (det samme)
Column: row0    row1, Value: doktor
Column: row0    row1, Value: dennes
Column: row0    row1, Value: det samme som
Column: row0    row1, Value: digital videodisk
Column: row0    row1, Value: det vil sige
Column: row0    row1, Value: dette år
Column: row0    row1, Value: efter bemyndigelse
Column: row0    row1, Value: eksempel
Column: row0    row1, Value: eller
Column: row0    row1, Value: eller lignende
Column: row0    row1, Value: etcetera (og så videre)
Column: row0    row1, Value: eventuel/eventuelt/eventuelle
Column: row0    row1, Value: den/det følgende
Column: row0    row1, Value: firma/firmaet
Column: row0    row1, Value: de følgende
Column: row0    row1, Value: forhenværende
Column: row0    row1, Value: fuldmægtig
Column: row0    row1, Value: forrige måned
Column: row0    row1, Value: formand
Column: row0    row1, Value: fru/frøken
Column: row0    row1, Value: frøken
Column: row0    row1, Value: for tiden
Column: row0    row1, Value: for eksempel
Column: row0    row1, Value: forrige år
Column: row0    row1, Value: gram
Column: row0    row1, Value: gigabit
Column: row0    row1, Value: gigabyte
Column: row0    row1, Value: gårs dato
Column: row0    row1, Value: gammel
Column: row0    row1, Value: hora (time)
Column: row0    row1, Value: handelsvidenskabelig afgangsprøve
Column: row0    row1, Value: hektar
Column: row0    row1, Value: handelsvidenskabelig diplomprøve
Column: row0    row1, Value: højdefinitions-tv
Column: row0    row1, Value: højere forberedelelseseksamen
Column: row0    row1, Value: høj frekvens
Column: row0    row1, Value: højere handelseksamen
Column: row0    row1, Value: henholdsvis
Column: row0    row1, Value: højere handelseksamen
Column: row0    row1, Value: herre
Column: row0    row1, Value: human resource
Column: row0    row1, Value: højesteretssagfører
Column: row0    row1, Value: højere teknisk eksamen
Column: row0    row1, Value: ifølge
Column: row0    row1, Value: i forbindelse med (ikke autoriseret)
Column: row0    row1, Value: i forhold til (ikke autoriseret)
Column: row0    row1, Value: inklusive
Column: row0    row1, Value: interessentskab
Column: row0    row1, Value: i stedet for
Column: row0    row1, Value: informationsteknologi
Column: row0    row1, Value: jævnfør
Column: row0    row1, Value: journalnummer
Column: row0    row1, Value: junior
Column: row0    row1, Value: kilobit
Column: row0    row1, Value: kilobyte
Column: row0    row1, Value: København
Column: row0    row1, Value: kilo/kilogram
Column: row0    row1, Value: klokken/klasse
Column: row0    row1, Value: kilometer
Column: row0    row1, Value: kilometer i timen
Column: row0    row1, Value: Kirke (i stednavne)
Column: row0    row1, Value: krone/kroner
Column: row0    row1, Value: kommanditselskab
Column: row0    row1, Value: konto/kontor
Column: row0    row1, Value: kilowatt-time
Column: row0    row1, Value: liter
Column: row0    row1, Value: løbenummer
Column: row0    row1, Value: lejlighed
Column: row0    row1, Value: Lille (i stednavne)
Column: row0    row1, Value: lokal (lokalnummer)
Column: row0    row1, Value: landsretssagfører
Column: row0    row1, Value: meter
Column: row0    row1, Value: med
Column: row0    row1, Value: maksimum/maksimal/maksimalt
Column: row0    row1, Value: med andre ord
Column: row0    row1, Value: matrikelnummer
Column: row0    row1, Value: millibar
Column: row0    row1, Value: megabit
Column: row0    row1, Value: megabyte/mellembølge
Column: row0    row1, Value: måned
Column: row0    row1, Value: månedlig/månedligt
Column: row0    row1, Value: måneder
Column: row0    row1, Value: medlem af Europa-Parlamentet
Column: row0    row1, Value: mezzaninen
Column: row0    row1, Value: med flere
Column: row0    row1, Value: medlem af Folketinget
Column: row0    row1, Value: midtfor
Column: row0    row1, Value: med hensyn til
Column: row0    row1, Value: milliard
Column: row0    row1, Value: million
Column: row0    row1, Value: mellem
Column: row0    row1, Value: millimeter
Column: row0    row1, Value: med mere
Column: row0    row1, Value: madame
Column: row0    row1, Value: modtager
Column: row0    row1, Value: med videre
Column: row0    row1, Value: notabene (bemærk!)
Column: row0    row1, Value: Nordre (i stednavne)
Column: row0    row1, Value: nomen nescio (navnet er ukendt)
Column: row0    row1, Value: nummer
Column: row0    row1, Value: Nørre (i stednavne)
Column: row0    row1, Value: netto
Column: row0    row1, Value: og andet/og andre
Column: row0    row1, Value: observér!
Column: row0    row1, Value: og flere
Column: row0    row1, Value: over gården
Column: row0    row1, Value: og lignende
Column: row0    row1, Value: og mange andre
Column: row0    row1, Value: og så videre
Column: row0    row1, Value: pagina (side)
Column: row0    row1, Value: pro anno (om året)
Column: row0    row1, Value: paragraf
Column: row0    row1, Value: på bestyrelsens vegne
Column: row0    row1, Value: personlig computer
Column: row0    row1, Value: procent
Column: row0    row1, Value: på grund af
Column: row0    row1, Value: pakke
Column: row0    row1, Value: punkt
Column: row0    row1, Value: Plads (i stednavne)
Column: row0    row1, Value: public relations
Column: row0    row1, Value: per
Column: row0    row1, Value: præcis
Column: row0    row1, Value: postscriptum (efterskrift)
Column: row0    row1, Value: rekommanderet
Column: row0    row1, Value: side
Column: row0    row1, Value: samme
Column: row0    row1, Value: Sønder/Søndre (i stednavne)
Column: row0    row1, Value: senior
Column: row0    row1, Value: signeret
Column: row0    row1, Value: Sankt (bl.a. i stednavne)
Column: row0    row1, Value: samme måned
Column: row0    row1, Value: sammenlign (jævnfør)
Column: row0    row1, Value: Store (i stednavne)
Column: row0    row1, Value: stuen
Column: row0    row1, Value: størrelse
Column: row0    row1, Value: styk/stykke
Column: row0    row1, Value: svar udbedes
Column: row0    row1, Value: samme år
Column: row0    row1, Value: ton
Column: row0    row1, Value: time/tara
Column: row0    row1, Value: tønde
Column: row0    row1, Value: tønder
Column: row0    row1, Value: til højre
Column: row0    row1, Value: telefon/telefonnummer
Column: row0    row1, Value: til og med
Column: row0    row1, Value: tur-retur
Column: row0    row1, Value: til venstre
Column: row0    row1, Value: television
Column: row0    row1, Value: ugentlig/ugentligt
Column: row0    row1, Value: Vester/Vestre (i stednavne)
Column: row0    row1, Value: ved – eller van/von (i navne)
Column: row0    row1, Value: vedlagt
Column: row0    row1, Value: vedrørende
Column: row0    row1, Value: ved hjælp af
Column: row0    row1, Value: ved siden af
Column: row0    row1, Value: værelse
Column: row0    row1, Value: Øster/Østre (i stednavne)
Column: row0    row1, Value: arhundrede
Column: row0    row1, Value: årlig/årligt

/var/folders/pl/7f1cr2657p3bnpdt3bnm_9w00000gn/T/ipykernel_4597/3178838337.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, value in row.iteritems():